$token-colors: (
  "white": $color-white,
  "hover-gray": $color_hover_gray,
  "outline-gray": $color_outline_gray,
  "light-gray": hsla(0, 0%, 68%, 1),
  "gray": $color_gray,
  "gray-dark": $color_gray_dark,
  "gray-darkest": hsla(0, 0%, 27%, 1),
  "black": $color_black,
  "lightest-blue": $color_lightest_blue,
  "light-blue": $color_light_blue,
  "sky-blue": hsla(206, 100%, 78%, 1),
  "blue": $color_blue,
  "lighten-green": hsla(124, 71%, 83%, 1),
  "light-green": $color_light_green,
  "dark-green": $color_dark_green,
  "light-orange": hsla(40, 89%, 73%, 1),
  "orange": $color_orange,
  "light-red": hsla(0, 89%, 73%, 1),
  "red": $color_red,
  "ultraviolet": $color_ultraviolet,
  "lightest-purple": hsla(264, 64%, 92%, 1),
  "light-purple": hsla(263, 87%, 77%, 1),
  "purple": $color_purple,
  "light-pinkish": hsla(337, 80%, 84%, 1),
  "pinkish": $color_pinkish,
  "azure": $color_azure,
  "toxic": $color_toxic,
  "secondary-purple": $color-secondary-purple,
  "secondary-gray": $color-secondary-gray,
  "dark-gray": $color-dark-gray,
);

$token-sizes: (
  "xs": $size-xs,
  "s": $size-s,
  "m": $size-m,
  "l": $size-l,
  "ll": $size-ll,
  "xl": $size-xl,
  "xxl": $size-xxl,
  "xxxl": $size-xxxl,
  "xxxxl": $size-xxxxl,
);

$token-line-heights: (
  "xs": $line-height-xs,
  "s": $line-height-s,
  "m": $line-height-m,
);
