
$color-hover-gray: rgb(235, 235, 235);
$color-black: rgb(33, 33, 33);
$color-orange: rgb(250, 175, 0);
$color-pinkish: rgb(242, 110, 169);
$color-white: rgb(255, 255, 255);
$color-lightest-blue: rgb(224, 238, 255);
$color-ultraviolet: rgb(196, 29, 252);
$color-azure: rgb(16, 111, 183);
$color-red: rgb(244, 62, 62);
$color-gray-dark: rgb(102, 102, 102);
$color-dark-green: rgb(59, 135, 62);
$color-blue: rgb(62, 132, 244);
$color-purple: rgb(129, 51, 255);
$color-outline-gray: rgb(204, 204, 204);
$color-light-green: rgb(113, 193, 116);
$color-light-blue: rgb(169, 199, 244);
$color-gray: rgb(145, 145, 145);
$size-xxxxl: 64px;
$size-xxxl: 56px;
$size-xxl: 48px;
$size-xl: 34px;
$size-l: 20px;
$size-m: 16px;
$size-s: 13px;
$size-xs: 10px;
$font-heading: 'Montserrat', sans-serif;
$font-heading-secondary: 'Roboto Slab', serif;
$font-text: 'Roboto', sans-serif;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-medium: 500;
$weight-normal: 400;
$weight-light: 300;
$opacity-disabled: 0.6;
$opacity-active: 0.7;
$opacity-hover: 0.8;
$height-auth: 665px;
$avatar-xs: 24px;
$avatar-l: 56px;
$avatar-m: 42px;
$avatar-s: 32px;
$container-m: 1064px;
$tappable-element-xl: 72px;
$panel-xl: 500px;
$panel-l: 380px;
$tappable-element-l: 48px;
$panel-m: 320px;
$tappable-element-m: 40px;
$height-footer: 64px;
$container-s: 810px;
$separator-xs: 1px;
$tappable-element-xs: 24px;
$panel-s: 250px;
$tappable-element-xxs: 16px;
$tappable-element-s: 32px;
$separator-s: 2px;
$avatar-xl: 92px;
$site-width-m: 1200px;
$duration-quickly: 0.15s;
$duration-standart: 0.3s;
$duration-slowly: 0.5s;
$z-index-dropdown: 100;
$z-index-modal: 9999;
$z-index-sticky: 100;
$z-index-header: 10000;
$z-index-top-line: 9999;
$z-index-notification: 10001;
$z-index-overlay: 10002;
$media-query-s-down: (max-width: 479px);
$media-query-s: (min-width: 480px);
$media-query-m-down: (max-width: 767px);
$media-query-xl: (min-width: 1200px);
$media-query-l-down: (max-width: 1023px);
$media-query-xxl-down: (max-width: 1439px);
$media-query-l: (min-width: 1024px);
$media-query-xxl: (min-width: 1440px);
$media-query-m: (min-width: 768px);
$media-query-xl-down: (max-width: 1199px);
$shadow-l: 0 3px 12px rgba(0, 0, 0, 0.33);
$shadow-m: 0 3px 6px rgba(0, 0, 0, 0.16);
$shadow-s: 0 0 0 1px rgba(92,106,196,.1);
$spacing-m: 0.4px;
$radius-xxxxl: 60px;
$radius-xl: 10px;
$radius-l: 8px;
$radius-m: 4px;
$radius-s: 2px;
$radius-circle: 50%;
$space-xxl: 128px;
$space-xl: 64px;
$space-l: 48px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 8px;
$space-xxs: 4px;
$space-xxxs: 2px;
$line-height-m: 1.6;
$line-height-s: 1.3;
$line-height-xs: 1;
$green-gradient: linear-gradient(to bottom, hsla(68, 68%, 58%, 1) 0%, hsla(137, 41%, 56%, 1) 100%);
$violet-gradient: linear-gradient(to bottom, hsla(293, 99%, 54%, 1) 0%, hsla(263, 93%, 59%, 1) 100%);
$blue-gradient: linear-gradient(to bottom, hsla(189, 99%, 54%, 1) 0%, hsla(216, 93%, 59%, 1) 100%);
$gradient-auth: linear-gradient(-42deg, #391c5f 0%, #5b2770 100%);
$pink-gradient: linear-gradient(to bottom, hsla(352, 88%, 65%, 1) 0%, hsla(293, 92%, 78%, 1) 100%);
$gradient-notification: linear-gradient(to right, hsl(205, 93%, 54%) 0%, hsl(192, 100%, 46%) 100%);
$gradient-input: linear-gradient(80deg,#f5566b,#f193fb);
$yellow-gradient: linear-gradient(to bottom, hsla(53, 99%, 54%, 1) 0%, hsla(31, 93%, 59%, 1) 100%);
$red-gradient: linear-gradient(to bottom, hsla(359, 84%, 67%, 1) 0%, hsla(27, 91%, 60%, 1) 100%);
